:root {
  --background: #ffffff;
  --foreground: #272e33;
  --cta: #1971c2;
  --hint: #5191ca;
  --success: #38d9a9;
  --error: #fb8787;
  --border-radius: 0.5em;
  --white: #ffffff;
  --black: #000000;
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  color-scheme: light dark;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #ffffff;
  }
}

:where([class^="mb-"], [class*=" mb-"]),
:where([class^="mb-"], [class*=" mb-"])::before,
:where([class^="mb-"], [class*=" mb-"])::after {
  box-sizing: border-box;
}
