:root {
  --mb-background: #ffffff;
  --mb-foreground: #272e33;
  --mb-cta: #1971c2;
  --mb-hint: #5191ca;
  --mb-success: #38d9a9;
  --mb-error: #fb8787;
  --mb-border-radius: 0.5em;
  --mb-border-color: #565656;
  --mb-white: #ffffff;
  --mb-black: #000000;
  --mb-font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --mb-line-height: 1.5;
  --mb-font-weight: 400;

  color-scheme: light dark;
  font-family: var(--mb-font-family);
  line-height: var(--mb-line-height);
  font-weight: var(--mb-font-weight);
}

@media (prefers-color-scheme: dark) {
  :root {
    --mb-background: #212121;
    --mb-foreground: #ffffff;
  }
}

:where([class^="mb-"], [class*=" mb-"]),
:where([class^="mb-"], [class*=" mb-"])::before,
:where([class^="mb-"], [class*=" mb-"])::after {
  box-sizing: border-box;
}
