.mb-h1,
.mb-h2,
.mb-h3,
.mb-h4,
.mb-h5,
.mb-h6 {
  margin-bottom: 0.5em;
}

.mb-h1 {
  font-size: 2em;
}

.mb-h2 {
  font-size: 1.75em;
}

.mb-h3 {
  font-size: 1.5em;
}

.mb-h4 {
  font-size: 1.25em;
}

.mb-h5 {
  font-size: 1.1em;
}

.mb-h6 {
  font-size: 1em;
}

.mb-content-container {
  max-width: 900px;
  margin: 0 auto;
  container-type: inline-size;
}

.mb-section {
  padding: 2em;

  + .mb-section {
    border-top: 2px solid var(--mb-foreground);
  }

  .mb-section {
    padding-left: 0;
    padding-right: 0;
  }
}

.mb-details {
  summary {
    cursor: pointer;
    font-weight: bold;

    + * {
      margin-top: 1em;
    }
  }
}

.mb-table {
  border-collapse: collapse;
  width: calc(100% + 0.5em);
  margin-left: -0.25em;
  margin-right: -0.25em;

  tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.15);
  }

  tr:hover {
    td {
      color: var(--mb-white);
    }
  }

  th {
    text-align: left;
  }

  td {
    transition: color 0.2s ease;
  }

  th,
  td {
    padding: 0.5em;
    border: 1px solid rgba(var(--mb-white), 0.2);
  }
}

.mb-form {
  &.two-column {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 2em;

    section {
      display: grid;
      grid-column: span 2;
      padding: 0;
      gap: 1em;

      h1,
      .mb-h1,
      h2,
      .mb-h2,
      h3,
      .mb-h3,
      h4,
      .mb-h4,
      h5,
      .mb-h5,
      h6,
      .mb-h6 {
        margin: 0;
      }

      > div {
        display: flex;
      }
    }

    button[type="submit"] {
      grid-column: span 2;
    }
  }

  &.horizontal {
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }

  &,
  fieldset {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  div {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5em;
  }
}

.mb-label {
  display: block;

  input[type="checkbox"] {
    margin-right: 0.5em;
  }
}

.mb-input {
  padding: 0.75em 1em;
  font-size: inherit;
  background: transparent;
  border: 2px solid var(--mb-border-color);
  font-family: inherit;
  color: inherit;
  border-radius: var(--mb-border-radius);
  height: 40px;

  &:focus {
    color: var(--mb-white);
    outline: 2px solid var(--mb-hint);
    outline-offset: -2px;
  }
}

.mb-button {
  display: inline-block;
  padding: 0.75em 1em;
  font-size: inherit;
  background: transparent;
  border: 2px solid var(--mb-foreground);
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  border-radius: var(--mb-border-radius);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    color: var(--mb-white);
    outline: 2px solid var(--mb-hint);
    outline-offset: -2px;
  }

  &[type="submit"],
  &.primary {
    cursor: pointer;
    background: var(--mb-cta);
    color: var(--mb-white);
    border: none;
    font-weight: bold;
  }

  &.secondary {
    background: var(--mb-foreground);
    color: var(--mb-background);
  }

  &.outline {
    border: 2px solid var(--mb-foreground);
    background: transparent;
    color: var(--mb-foreground);
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.mb-card {
  border-radius: var(--mb-border-radius);
  padding: 1em;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);

  @media (prefers-color-scheme: dark) {
    background: rgba(0, 0, 0, 0.1);
    border-color: rgba(var(--mb-white), 0.2);
  }
}
